.container {
  /* width: 210px; */
  margin: auto;
  cursor: pointer;
}

.grid-row {
  height: 20px;
  width: auto;
}

.grid-block {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: grey;
  border: 1px solid black;
}

.goalBlock {
  background-color: green;
}

.currentBlock {
  background-color: red;
}

.grid-block:hover {
  background-color: green;
}

.buttonContainer {
  padding: 10px;
}
